#display-area #title {
    color: #72CCCA;
}

#display-area p {
    color: #E6E6E6;
}

#display-area label {
    color: #fff;
}
#display-area h1{
    color: #fff;
}
#display-area h2{
    color: #fff;
}
#display-area h4{
    color: #fff;
}
#display-area h5{
    color: #fff;
}
#display-area i{
    color: #fff;
}