#antrian-area #title {
    color: #72CCCA;
}

#antrian-area p {
    color: #E6E6E6;
}

#antrian-area label {
    color: #fefefe;
}

#antrian-area h5 {
    color: #fefefe;
}

.overflow-table {
    max-height: 300px;
    overflow-y: auto;
}